body{

}
.navbar-brand {
    font-family: 'Baloo Thambi 2', cursive;
}
.active {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: medium;
}
.nav-item {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: medium;
}