.category-table {
    font-family: 'Nunito', sans-serif;
}
.form-label {
    font-family: 'Nunito', sans-serif;
}

.btn-add {
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 3px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
}

.btn-add:hover {
        background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        background-color: #72b352;
}

.btn-add:active {
        position: relative;
        top: 1px;
}

        